@import "tailwindcss";

body{
          background-color:black ;
          color: #f5f5f5;
          width: 100%;
          height: fit-content;
          padding: auto;
          margin: auto;
         
}

